.estadio {
    display: flex;
    justify-content: center;
}
.grada {
    border-radius: 50px;
    background-color: #212529;
    padding: 5%;
    width: 780px;
}
.campo {
    display: flex;
    justify-content: start;
    position: relative;
    width: 700px;
    height: 360px;
    background-image: url(../assets/image/bg-green-grass.jpg);
    background-position: center;
    background-size: 100%;
    padding: 40px;
}
.izquierda {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    border-right: none;
    overflow: hidden;
}
.derecha {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
.contenedor-porteria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.porteria {
    border: 2px solid #fff;
    width: 15px;
    height: 50px;
}
 
.porteria-izquierda {
    border-right: none;
}
 
.porteria-derecha {
    border-left: none;
}
.corner {
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
 
.izquierda .corner-superior {
    position: absolute;
    top: -12px;
    left: -14px;
}
 
.izquierda .corner-inferior {
    position: absolute;
    bottom: -12px;
    left: -14px;
}
 
.derecha .corner-superior {
    position: absolute;
    top: -12px;
    right: -14px;
}
 
.derecha .corner-inferior {
    position: absolute;
    bottom: -12px;
    right: -14px;
}
.area {
    width: 90px;
    height: 160px;
    border: 1px solid #fff;
    top: 29%;
    position: absolute;
}
 
.izquierda .area {
    border-left: none;
}
 
.derecha .area {
    right: 0px;
    border-right: none;
}
.circulo-central {
    position: absolute;
    border: 1px solid #fff;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    top: 34%;
    left: 39.5%;
}
.keeper{
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
}